<a href="https://colab.research.google.com/github/pykris/SUMMER-ANALYTICS-2021/blob/main/Basic_Data_Analysis_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Analytics 2021 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
chipo_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')
chipo_df

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

### 3) See the first 10 entries

In [3]:
chipo_df.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### 4) What is the number of observations in the dataset?

In [11]:
chipo_df.index.size

4622

### 5) What is the number of columns in the dataset?

In [12]:
chipo_df.columns.size

5

### 6) Print the name of all the columns.

In [13]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [51]:
# item has to be evaluated considering the quantity
# chipo_df[chipo_df.item_name == 'Chicken Bowl']['quantity']
# sum(chipo_df[chipo_df.item_name == 'Chicken Bowl']['quantity']) # # 761

df_temp = chipo_df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)
df_temp.index[0]

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [54]:
df_temp[0]

761

### 9) What was the most ordered item in the choice_description column?

In [64]:
# verify values
# sum(chipo_df[chipo_df.choice_description == '[Diet Coke]']['quantity'])

# df_desc[0] # 159

df_desc = chipo_df.groupby(chipo_df.choice_description)['quantity'].sum().sort_values(ascending=False)
df_desc.index[0]

'[Diet Coke]'

### 10) How many items were ordered in total?

In [101]:
chipo_df.quantity.sum()

4972

### 11) Turn the item price into a float

In [74]:
# chipo_df['item_price_value'] = 

chipo_df['item_price_value'] = chipo_df['item_price'].str.replace('$', '').astype(float)
chipo_df

      order_id  quantity  ... item_price item_price_value
0            1         1  ...     $2.39              2.39
1            1         1  ...     $3.39              3.39
2            1         1  ...     $3.39              3.39
3            1         1  ...     $2.39              2.39
4            2         2  ...    $16.98             16.98
...        ...       ...  ...        ...              ...
4617      1833         1  ...    $11.75             11.75
4618      1833         1  ...    $11.75             11.75
4619      1834         1  ...    $11.25             11.25
4620      1834         1  ...     $8.75              8.75
4621      1834         1  ...     $8.75              8.75

[4622 rows x 6 columns]

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [91]:
revenue_val = (chipo_df.quantity * chipo_df.item_price_value).sum()
revenue_val

39237.02

### 13) How many orders were made in the period?

In [92]:
# should be on the basis of order_id

order_val = len(chipo_df.order_id.unique())
order_val

1834

### 14) What is the average revenue amount per order?

In [93]:
# avg revenue = total revenue_val / total unique orders

revenue_val/order_val

21.39423118865867

### 15) How many different items are sold?

In [99]:
len(chipo_df.item_name.sort_values().unique())

50